.centeredparagraph {
	text-align: center;
}

#contactinfo {
	text-align: center;
	font-size: 120%;
}

#classestable {
	margin: 0px auto;
	border-spacing: 2px;

}

#classestable>thead>tr>th {
	background-color: #111;
	border-bottom: 2px solid darkgrey;
	padding: 5px;
}

#classestable>tbody>tr>td>a {
	text-decoration: none;
}