.centeredparagraph {
	text-align: center;
}

#contactinfo {
	text-align: center;
	font-size: 120%;
}

#classestable {
	margin: 0px auto;
	border-spacing: 10px 0px;

}

#classestable>thead>tr>th {
	border-bottom: 2px solid darkgrey;
	padding: 5px;
	border-left: 2px solid blue;
}

#classestable>tbody>tr>td {
	border-left: 2px solid blue;
	padding: 5px;
}

#classestable>tbody>tr>td>a {
	text-decoration: none;
}