body {
	background-color: black;
}

* {
color: white;
}

h1 {
	color: cyan;
	font-family: "Trebuchet MS", Gadget, sans-serif;
	font-size: 3em;
	text-align: center;
}

.button {
	/*background-color: #055;*/
	border-bottom: 1px solid #ddd; 
}

.button:hover {
	border: 2px inset #0bb; 
}

