body {
	background-color: #eee;
}

a {
color: darkblue;
}

h1 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 2.5em;
	text-align: left;
	padding-left: 5%;
	border-bottom: 3px solid blue;
}

.largetext {
	font-size: 120%;
}

.button {
	/*background-color: #055;*/
	border-bottom: 1.5px solid black; 
}

.button:hover {
	border-bottom: 1.5px inset blue; 
}

.homeworktable {
	margin: 0px auto;
	border-spacing: 0px;
}
.homeworktable>tbody>tr>td {
	border-bottom: 1px solid #999;
	padding: 10px;
}

.homeworktable>tbody>tr>th {
	text-align: left;
	background-color: #ddd;
	border-bottom: 2px solid #0cc;
	padding-top: 15px;
}